:root {
  --dark-background-color: #1f2937;
  --blue-background-color: #3882f6;
  --quote-background-color: #e5e7eb;
  --header-hero-footer-color: #f9faf8;
  --placeholder-color: rgb(152, 150, 150);
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: var(--dark-background-color);
  color: var(--header-hero-footer-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15% 16px 15%;
}

p {
  font-size: 24px;
}

ul {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: var(--quote-background-color);
  font-weight: 100;
}

.hero {
  background-color: var(--dark-background-color);
  color: var(--header-hero-footer-color);
  padding: 32px 15% 32px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.left-hero {
  width: 50%;
}

.hero-heading {
  font-size: 48px;
  font-weight: 900;
}

.hero-paragraph-left {
  font-size: 18px;
  font-weight: 150;
  color: var(--quote-background-color);
}

.signup-button-one {
  background-color: var(--blue-background-color);
  color: var(--quote-background-color);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px 0px;
}

.right-hero {
  background-color: var(--placeholder-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
}

.hero-paragraph-right {
  padding: 40px 60px;
  font-size: 18px;
}

.random-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.info-heading {
  font-size: 48px;
  font-weight: 900;
  padding: 32px 0;
}

.info-row {
  display: flex;
  gap: 40px;
}

.box-and-text {
  width: 120px;
}

.blue-box {
  border: 2px solid var(--blue-background-color);
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.info-text {
  font-size: 18px;
  color: var(--placeholder-color);
  text-align: center;
}

.quote-section {
  background-color: var(--quote-background-color);
  color: var(--dark-background-color);
  padding: 60px 25% 60px 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote {
  font-weight: 300;
  color: var(--dark-background-color);
  font-style: italic;
  align-self: flex-start;
}

.name {
  font-weight: 600;
  align-self: flex-end;
}

/* Font: Roboto
+Dark background color (header, hero section and footer): #1F2937
+Logo text:
+Font size: 24px
+Color: #F9FAF8
+Hero section main text (“This website is awesome”):
+Font size: 48px
+Color: #F9FAF8
+Weight: 900
+Hero secondary text (“This website has some subtext…”) and header links:
+Font size: 18px
+Color: #E5E7EB
Button and “Call to action” background color: #3882F6
Information heading:
Font size: 36px
Color: #1F2937
Weight: 900
Quote:
Background color: #E5E7EB
Font size: 36px
Color: #1F2937
Weight: 300
Font style: italic */
